$wrapper-color-map: () !default;

.wrapper {
    padding: 15px 15px 70px;
}

.wrapper--flex {
    @include breakpoint(map-get($breakpoints, sm)) {
        @include display-flex();
    }
}

.wrapper--primary {
    background-color: darken($brand-color-2, 10%);
    color: set-dependent-color(darken($brand-color-2, 10%));

    .card,
    .btn {
        box-shadow: 5px 5px 5px darken($brand-color-2, 20%);
    }
}

.wrapper--secondary {
    background-color: darken($brand-color-1, 10%);
    color: set-dependent-color(darken($brand-color-1, 10%));

    .card,
    .btn {
        box-shadow: 5px 5px 5px darken($brand-color-1, 20%);
    }

    .card .btn {
        box-shadow: 5px 5px 5px darken($color-3, 20%);
    }
}

.wrapper--negative {
    background-color: $brand-color-3;
    color: set-dependent-color($brand-color-3);

    .card,
    .btn {
        box-shadow: 5px 5px 5px darken($brand-color-3, 10%);
    }
}

.wrapper--positive {
    background-color: $brand-color-4;
    color: set-dependent-color($brand-color-4);

    .card,
    .btn {
        box-shadow: 5px 5px 5px darken($brand-color-4, 10%);
    }
}
