$brand-color-1: #2D5889;
$brand-color-2: #FF8F00;
$brand-color-3: #D7263D;
$brand-color-4: #72BAA3;

$color-1: #414A4C;
$color-2: #F5F5F5;
$color-3: #FFF;

$background-color-1: $color-2;

$font-color: $color-1;
$pre-background-color: lighten($color-1, 10%);

$navigation-bg-color: $color-1;
$navigation-breaker: $brand-color-1;
$navigation-breaker-text: $color-2;

$content-background: $color-2;

$hero-background-color: lighten($color-1, 15%);
$hero-breaker-color: $brand-color-1;

$logo-background-color: $brand-color-2;
$logo-font-color: $color-3;

$primary-link-color: $brand-color-2;
$primary-link-color-hover: darken($brand-color-2, 10%);
