$brand-color-1: #417dc1;
$brand-color-2: #ff8f00;
$brand-color-3: #d7263d;
$brand-color-4: #72baa3;

$background-color-1: #414A4C;

$font-color: #3f505d;
$pre-background-color: lighten($background-color-1, 10%);

$navigation-bg-color: #fff;
$navigation-breaker: $brand-color-1;

$content-background: #f5f5f5;

$hero-background-color: $background-color-1;
$hero-breaker-color: $brand-color-1;

$logo-background-color: $brand-color-2;
$logo-font-color: #fff;

$primary-link-color: $brand-color-2;
$primary-link-color-hover: darken($brand-color-2, 10%);
