doctype html
html(lang="en-GB" dir="ltr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    include includes/meta.pug

    block title

    script(src="https://use.fontawesome.com/c3a9dd4412.js" async)
    link(href="https://fonts.googleapis.com/css?family=Libre+Franklin:300|VT323" rel="stylesheet")

    if selectedPage != 'project' && selectedPage != 'blog-post'
      link(rel="stylesheet" type="text/css" href="css/main.min.css")
    else
      link(rel="stylesheet" type="text/css" href="../css/main.min.css")

  body
    .wrapper--flex
      include includes/nav.pug
      .content
        include includes/hero.pug

        block body

    include includes/scripts.pug
    block scripts
