extends _base.pug

block title
  - var selectedPage = 'about'
  title AWildDevAppears - About

block body
  header.hero
    .container
      .hero__body
        h2 About
      .hero__tagline
        h1.bitwise A Wild Dev Appears

  .container.block.block--headed
    .card
      h2 Hi, My name is Josh
      h3 I am a Front End developer cross Android/Hybrid app developer.

      p.
        I build websites, and Native and Hybrid apps.
        In my spare time I build indie games and apps for fun (though I've never released any).

      p.
        I have a passion for writing fast, reliable, reusable front end code, to the point where
        I have worked on building my own toolkits to serve this purpose. I have worked with
        several design standards like BEM and Atomic design and have tried to incorporate the
        best bits of all of them into my programming.


      p.
        I also have a great love for accessibility, and building products that can be used by anyone, regardless of
        whether they have disibilities or even if they not digesting our content using a browser (Screen reader, crawler or other bot.)

      p.
        I have worked on several different projects, with several different technologies
        and in many different ways, I have mostly worked on Agile projects but have experience
        with waterfall style development.

  .wrapper.wrapper--secondary
    .container
      h2 My opinion on frameworks

      p.
        I have had a lot of experience with the Bootstrap framework, and have built many a site
        using it. I stand by my belief that frameworks like this are not the silver bullet or
        holy grail and that they should be used when and where they are useful, but not all
        of the time as they can add unnecessary bloat to your web app, which is part of the reason this site does not
        use Bootstrap, Foundation or any other large scale framework. I also find frameworks can be very oppinionated,
        meaning you either abide by their standards or you have an inconsistency in your codebase.

      p.
        With that in mind I have worked with quite a few lightweight Sass frameworks and grid systems like Neat, Bourbon, Compass &amp; Singularity
        I enjoy incorperating frameworks like these into my sites as I feel reusing existing code is just as important as writing new code,
        If your code is reusable then you spend less time writing things that you have done a thousand times and work on interesting things that will
        draw attention to your sites.

  .wrapper
    .container
      .card
        h2 Languages I have experience with

        p The languages I have had experience with include, but are not limited to:

        ul
          li HTML
            li Jinja / Twig / Handlebars / PUG
          li CSS
            ul
              li Sass / SCSS
              li Less
          li JS (ECMA Script) (5, 6 and some of 7)
            ul
              li Typescript
              li CoffeeScript
          li Php
          li Python
          li Android
            ul
              li Java
              li Kotlin
          li iOS
            ul
              li Objective C
              li Swift
          li Golang
          li C / C++
          li and a selection of other languages.

        h2 Framworks I have experience with

        ul
          h3 Client side
          li Angular (1 and 2)
          li JQuery
          li Backbone
          li Ionic framework (1 and 2)
          li Phaser / PIXI
          li CocoaPods

          h3 Testing frameworks
          li Jasmine
          li Mocha
          li Selenuim (Protractor)
          li Chai
          li JUnit

          h3 Server side &amp; CMS
          li Google App engine (Python)
          li Perch CMS
          li Wordpress
          li Node JS
          li Flask
          li WebApp2

          h3 Databases
          li MongoDB
          li MySQL
          li Gooogle Datastore (NDB)

          h3 Database AAS
          li Firebase
          li Parse (before it shut down)

