extends _base.pug

block title
  - var selectedPage = 'styleguide'
  title AWildDevAppears - Styleguide

block body
  header.hero
    .container
      h1.bitwise A Wild Dev Appears
      h2 Styleguide

  section
    .container
      #typography
        h2 Typography
        h1 H1 Heading
        h2 H2 heading
        h3 H3 heading
        h4 H4 heading
        h5 H5 heading
        h6 H6 heading
        p
          | This is body copy in a p tag, within here we can have
          |
          b bold text
          | ,
          |
          i italics text
          |
          | and
          |
          small small text
          |
          | ,
          | it can also contain
          |
          code code snippets
          |
          |  and
          |
          kbd Keyboard + shortcuts

        pre.
          func main() string {
            let x = 1;
            let y = 2;

            let z = add(x, y).longFunctionNameThatTakesObjectForSomeReason({
              a: 0,
              b: 1,
              c: 2,
              d: 3,
              e: 4,
              f: 5,
            }, function (res) {
              return res
                .get('this thing')
                .and()
                .doMagic()
                .orSomething()
                .with(12);
            });

            return z || "this is a code block";
          }
      hr
      #pallete
        h2 Pallete
        .row
          .col--33.card
              .card__image.color.color-1
              h4 $brand-color-1
              p #417dc1

          .col--33.card
            .card__image.color.color-2
            h4 $brand-color-2
            p #ff8f00

          .col--33.card
              .card__image.color.color-3
              h4 $brand-color-3
              p #d7263d

          .col--33.card
              .card__image.color.color-4
              h4 $brand-color-4
              p #72baa3
      hr
      #buttons
        h2 Buttons
        button.btn.btn--primary Button primary
        button.btn.btn--secondary Button secondary
        button.btn.btn--negative Button negative
        button.btn.btn--positive Button positive


  section#wrapper.wrapper.wrapper--secondary
    .container
      h2.text--center Wrapper
      p.
        This is a wrapper, it helps to break up the monotony of the page and adds a little
        more life and color to the page.

      .row
        .col.card.col__inner
          .card__body
            .card__image.color.color-2
            h4 Card with link button
          .card__footer
            a.btn.btn--primary(href='#') Read more

        .col.card.col__inner
          .card__body
            .card__image.color.color-2
            h4 Card with link button
          .card__footer
            a.btn.btn--primary(href='#') Read more

        .col.card.col__inner
          .card__body
            .card__image.color.color-2
            h4 Card with link button
          .card__footer
            a.btn.btn--primary(href='#') Read more

  .container
    section#cards
      h2 Cards

      .row
        a.col.card.card--link.col__inner
          .card__body
            .card__image.color.color-1
            h4 Link card
          .card__footer
            button.btn.btn.btn--primary Read more

        a.col.card.card--link.col__inner
          .card__body
            h4 Link card - no image
            p this card also has some copy on it.
          .card__footer
            button.btn.btn.btn--primary Read more

        .col.card.col__inner
          .card__body
            .card__image.color.color-1
            h4 Card with link button
          .card__footer
            a.btn.btn--primary(href='#') Read more


