body {
    color: $font-color;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

.bitwise {
    font-family: 'VT323', monospace;
}

a {
    color: $primary-link-color;

    &:hover,
    &:focus,
    &:active {
        color: $primary-link-color-hover;
    }
}

// From: https://type-scale.com/?size=16&scale=1.250&text=A%20Visual%20Type%20Scale&webfont=Libre%2BFranklin&fallback=sans-serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333

html {
    font-size: 1em;
}

strong {
    font-weight: 400;
}

p {
    margin-bottom: 1.250em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1, h2, h3, h4, h5 {
    margin: 1.250em 0 0.64em;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {
    font-size: 1.25em;
}

small, .font_small {
    font-size: 0.8em;
}