// Pallete
@import 'base/pallete',
        'base/variables';

// Vendor
@import 'vendor/normalize-scss/sass/normalize',
        'vendor/tequila-sass/scss/tequila',
        'vendor/singularity/stylesheets/singularitygs',
        'vendor/breakpoint-sass/stylesheets/breakpoint';

// Base
@import 'base/typography',
        'base/normalise';

// Layout
@import 'layout/structure',
        'layout/grid',
        'layout/wrapper';

// Components
@import 'components/nav',
        'components/icon',
        'components/button',
        'components/hero',
        'components/card',
        'components/logo';

// Page
@import 'pages/project-launchpad';

// Util
@import 'util/text',
        'util/util';

.color {
    height: 100px;
}

.color-1 {
    background-color: $brand-color-1;
}

.color-2 {
    background-color: $brand-color-2;
}

.color-3 {
    background-color: $brand-color-3;
}

.color-4 {
    background-color: $brand-color-4;
}
