$primary-link-color: blue !default;
$primary-link-color-hover: darken(blue, 10%) !default;
$button-type-map: () !default;

.btn {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    color: $primary-link-color;
    font-size: 1em;
    outline: none;
    padding: 10px 15px;
    text-decoration: none;

    @include pseudos() {
        color: $primary-link-color-hover;
    }
}


.btn--toggle {
    border: 2px solid $primary-link-color;
    bottom: 20px;
    left: 10px;
    min-width: 45px;
    padding: 5px;
    position: fixed;
    z-index: 2;
}

.btn--toggle__bar {
    background-color: $primary-link-color;
    display: block;
    padding: 1px;
    margin: 4px 0;
}

.btn--icon {
    padding: 0;
}

// Create buttons
@include color-set(btn, $button-type-map, true);
