$logo-background-color: #eee !default;
$logo-font-color: #333 !default;

.logo {
    @include display-flex();
    @include align-items(center);

    background-color: $logo-background-color;
    border-bottom: 2px solid;
    border-color: $logo-font-color;
    border-left: 2px solid;
    color: $logo-font-color;
    padding: 10px 20px;
}

.logo--sticky {
    position: fixed;
    right: 0;
    top: 0;
}

.logo__icon {
    background-image: url('../img/awda-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid $logo-font-color;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    height: 50px;
    width: 50px;
}

.logo__title {
    display: inline-block;
    font-size: 1.5em;
    margin: 0;
    text-transform: uppercase;
}
