$navigation-bg-color: #fff !default;
$navigation-breaker: #000 !default;

.nav {
    z-index: 1;

    &.animated {
        transition: flex .25s ease-in;
    }

    &.expanded {
        @include breakpoint(map-get($breakpoints, sm)) {
            @include flex(160px, 0, 0);
        }

        .nav__list__link {
            text-decoration: none;

            @include breakpoint(map-get($breakpoints, sm)) {
                width: 140px;
            }
        }

        .icon__shorttext {
            animation: sidebar-text-animation .4s 1;
            display: inline-block;
            padding-left: 10px;
            vertical-align: center;
        }
    }

    @include breakpoint(map-get($breakpoints, sm)) {
        position: relative;
        min-height: 100vh;
        @include flex(45px, 0, 0);
        overflow-x: hidden;
    }

}

.nav__content--sticky {
    @include breakpoint(map-get($breakpoints, sm)) {
        position: fixed;
        top: 0;
        left: 0;
    }
}

.nav__list {
    background-color: $navigation-bg-color;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding: 10px 5px 10px 10px;
    }

    @include breakpoint(map-get($breakpoints, sm)) {
        @include angle(before, false, 12deg);
        @include angle(after, true, 12deg);

        margin-right: -15px;
        min-height: 80px;
        z-index: 2;
    }
}

.nav__list--separator {
    background-color: $brand-color-1;
    border-right: 5px solid transparent;
    list-style: none;
    margin: 0;
    padding: 25px 0;

    li {
        padding: 10px 5px 10px 10px;
    }

    .nav__list__link {
        color: $navigation-bg-color;

        @include pseudos() {
          color: darken($navigation-bg-color, 10%);
        }
    }
}

.nav__list__link {
    @include display-flex();
    @include align-items(center);
}
