$navigation-bg-color: #fff !default;
$navigation-breaker: #000 !default;
$navigation-breaker-text: #fff !default;

.nav {
    filter: drop-shadow(2px 2px 0 $color-2);
    z-index: 1;

    &.animated {
        transition: flex .25s ease-in;
    }

    &.expanded {
        @include breakpoint(map-get($breakpoints, sm)) {
            @include flex(160px, 0, 0);
        }

        .nav__list__link {
            @include breakpoint(map-get($breakpoints, sm)) {
                width: 140px;
            }
        }

        .nav__list {
            margin-right: -25px;
        }

        .icon__shorttext {
            display: inline-block;
            padding-left: 10px;
            vertical-align: middle;
        }
    }

    .nav__list__link {
        text-decoration: none;
    }

    @include breakpoint(max-width map-get($breakpoints, sm)) {
        .icon__shorttext {
            display: inline-block;
            padding-left: 10px;
            vertical-align: middle;
        }
    }

    @include breakpoint(map-get($breakpoints, sm)) {
        @include flex(45px, 0, 0);

        position: relative;
        min-height: 100vh;
        overflow-x: hidden;

        .icon__shorttext  {
            display: none;
        }
    }

}

.nav__content--sticky {
    @include breakpoint(map-get($breakpoints, sm)) {
        left: 0;
        position: fixed;
        top: 0;
    }
}

.nav__list {
    background-color: $navigation-bg-color;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        padding: 10px 5px 10px 10px;
    }

    @include breakpoint(map-get($breakpoints, sm)) {
        @include angle(before, false, 12deg);
        @include angle(after, true, 12deg);

        margin-right: -15px;
        min-height: 80px;
        z-index: 2;
    }
}

.nav__list--separator {
    background-color: $brand-color-1;
    border-right: 5px solid transparent;
    list-style: none;
    margin: 0;
    padding: 25px 0;

    li {
        padding: 10px 5px 10px 10px;
    }

    .nav__list__link {
        color: $navigation-breaker-text;

        @include pseudos() {
          color: darken($navigation-breaker-text, 10%);
        }
    }

    @include breakpoint(map-get($breakpoints, sm)) {
        padding: 25px 0 50px;
    }
}

.nav__list__link {
    @include display-flex();
    @include align-items(center);
}
