button.btn.btn--toggle(data-toggle="side-nav")
  span.btn--toggle__bar
  span.btn--toggle__bar
  span.btn--toggle__bar

nav#side-nav.nav.nav--left.expanded
  .nav__content--sticky
    ul.nav__list
      li
        if selectedPage != 'home'
          a.nav__list__link(href="index.html")
            i.ion.ico--md.ion-android-home
            span.icon__shorttext Home
        else
          a.nav__list__link(href="#")
            i.ion.ico--md.ion-android-home
            span.icon__shorttext Home

      li
        if selectedPage != 'about'
          a.nav__list__link(href="about.html")
            i.ion.ico--md.ion-person
            span.icon__shorttext About
        else
          a.nav__list__link(href="#")
            i.ion.ico--md.ion-person
            span.icon__shorttext About

      li
        if selectedPage != 'projects'
          a.nav__list__link(href="projects.html")
            i.ion.ico--md.ion-code
            span.icon__shorttext Projects
        else
          a.nav__list__link(href="#")
            i.ion.ico--md.ion-code
            span.icon__shorttext Projects

      li.hidden
        if selectedPage != 'blog'
          a.nav__list__link(href="blog.html")
            i.ion.ico--md.ion-social-rss
            span.icon__shorttext Blog
        else
          a.nav__list__link(href="#")
            i.ion.ico--md.ion-social-rss
            span.icon__shorttext Blog

      li
        if selectedPage != 'styleguide'
          a.nav__list__link(href="styleguide.html")
            i.ion.ico--md.ion-paintbucket
            span.icon__shorttext Styleguide
        else
          a.nav__list__link(href="#")
            i.ion.ico--md.ion-paintbucket
            span.icon__shorttext Styleguide

    ul.nav__list--separator
      li
        a.nav__list__link(href="https://github.com/WoJBurgess")
          i.ion.ico--md.ion-social-github
          span.icon__shorttext Github

      li
        a.nav__list__link(href="https://www.linkedin.com/in/josh-burgess-1826b883/")
          i.ion.ico--md.ion-social-linkedin
          span.icon__shorttext LinkedIn

      li.hidden
        a.nav__list__link(href="https://twitter.com/")
          i.ion.ico--md.ion-social-twitter
          span.icon__shorttext Twitter
    ul.nav__list.u-full-height
      li
        button.btn.btn--icon.hidden(data-role="settings-menu")
          i.ion.ico--md.ion-gear-b
          span.icon__shorttext Settings
