script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
if selectedPage != 'project' && selectedPage != 'blog-post'
  script(type="text/javascript" src="js/main.js")
else
  script(type="text/javascript" src="../js/main.js")

