extends ../_base

block title
  - var selectedPage = 'blog-post'
  title AWildDevAppears - Blog

block body
  header.hero
    .container
      h1 A wild dev appears- Blog
      p This site is under construction

  .container
    h2  Post One
    p.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at
      eros in augue interdum vulputate. Suspendisse efficitur consectetur massa,
      a dapibus dui tempor id. Maecenas sed neque rhoncus, sagittis velit sed,
      cursus odio. Aliquam erat volutpat. Curabitur ante nunc, facilisis vel pretium vel,
      condimentum elementum mi. Nullam interdum libero nibh, eget bibendum dolor commodo vel.
      Praesent vel lacus ut quam iaculis luctus id id purus. Cras gravida, eros eget convallis interdum,
      tortor leo iaculis elit, blandit vulputate libero metus non nisl. Maecenas egestas quis risus ac sodales.
      Praesent facilisis viverra libero id ornare. Nullam malesuada dolor sollicitudin, iaculis felis in,
      bibendum velit. Nullam diam magna, sollicitudin sed volutpat sed, sollicitudin ut augue.
      Nullam varius urna bibendum ante commodo, quis molestie tortor semper.
      Morbi vestibulum commodo nunc ac consequat. Praesent suscipit sodales purus, in varius enim volutpat ac.
    p.
      Donec sed gravida nibh. Ut in tempor tellus, ut egestas nisl.
      Fusce ultricies porta sagittis. Praesent felis diam, pretium in arcu in,
      consequat viverra quam. Integer non vestibulum odio. Sed malesuada faucibus pharetra.
      Fusce quis accumsan nibh. Nulla faucibus ipsum ac condimentum elementum. Nam tristique urna
      eget purus pharetra commodo. Etiam viverra, dui non vestibulum hendrerit, urna nisi lacinia leo,
      venenatis porttitor enim ipsum nec erat. Donec bibendum magna a lacus pellentesque rhoncus.
      Cras faucibus risus et velit aliquam sodales. Aliquam vitae neque in leo finibus volutpat quis nec dui.
      Nullam vehicula ex lorem, quis sagittis risus ultrices at. Nullam porttitor dui sit amet est varius sollicitudin.
      Fusce eget enim nec velit vehicula vulputate.
  .wrapper.wrapper--secondary
    .container
      h3 More detail
      p.
        Nulla et massa nunc. Nunc pharetra, leo vitae varius volutpat, ex metus scelerisque nisl,
        non ornare justo quam ac tellus. Cras sit amet commodo dolor, at blandit urna. Nunc enim orci,
        blandit et arcu nec, accumsan dapibus arcu. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia Curae; Fusce malesuada tristique est, quis commodo massa semper eu.
        Ut finibus sed nisi nec sollicitudin. Aliquam lorem lectus, mollis at tellus et, accumsan aliquam purus.
        Aenean porttitor, tellus in iaculis consectetur, lorem mi ornare mi, quis eleifend diam lorem at nibh.
        Donec viverra ipsum nisl, eget commodo elit condimentum non. In hac habitasse platea dictumst.
        Ut suscipit quis erat faucibus elementum. Nunc ac imperdiet dui, ut condimentum enim.
        Ut ac tellus a eros viverra convallis. Integer tincidunt varius felis,
        sed tincidunt libero posuere ac. Sed quis dapibus lorem.
  .container
    p.
      Phasellus iaculis pellentesque neque a lacinia. Nulla facilisi.
      Curabitur ac dui orci. Suspendisse potenti. Nulla porttitor id erat ut eleifend.
      Nam facilisis arcu id lorem fringilla fringilla. Suspendisse congue sollicitudin scelerisque.
      Phasellus odio quam, tristique vel neque at, fringilla scelerisque odio. Proin mollis dignissim semper.
      Praesent lacinia vehicula enim, a tempus sem varius at. Vivamus sollicitudin, lorem quis tempor aliquet,
      sapien justo finibus ipsum, vitae dapibus dolor nisl et tortor. Suspendisse id nisi eget leo volutpat malesuada.
      Sed tempor justo sem, sit amet efficitur ex accumsan ut.
      Curabitur nec lectus a sem vulputate fermentum quis vel erat.
    p.
      Phasellus blandit efficitur eros ac pellentesque. Ut maximus eleifend lacus,
      vitae varius nunc hendrerit eget. Fusce dignissim at risus et mollis. Proin eu ex lacinia,
      consequat enim eu, cursus risus. Donec eu ex ut sem lobortis aliquam. Donec tincidunt
      bibendum ante ac vehicula. Nam vel lobortis elit. Donec a mi eu ante elementum volutpat.
      Maecenas in sodales urna. Aenean sit amet commodo turpis. Vivamus pharetra odio elit, at
      vulputate nisl porta mattis. Vivamus aliquam dignissim orci, a laoreet dolor vestibulum in.
      Phasellus rhoncus ipsum vitae sapien dictum, eu tempus ante condimentum. Fusce at convallis nisl.

    pre.
      let preTag = {
        code: goes,
        in: here,
      }
