.project-launchpad {
    padding: 0 20px;

    .touchpad {
        box-sizing: border-box;
        padding: 50px;
        margin: 10px;
        background-color: #A2A2A2;
        border-color: #A2A2A2;
        box-shadow: none;

        @include pseudos() {
            background-color: darken(#A2A2A2, 10%);
        }
    }
}
